.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.green {
  color: #1a9c15;
}

.button-survey {
  width: 50px;
  margin-top: 15px;
}

.page {
  padding: 60px;
  padding-top: 30px;
}

#center {
  text-align: center;
}

.security-margin-bottom {
  margin-bottom: 20px;
}
