<div class="sidebar-title-box text-center"  *ngIf="side_extended == true">
  <h3>
    {{today | date:'EEEE,' | titlecase}}
    <br />
    {{today | date:'d MMMM y' | titlecase}}
  </h3>
  <br />
  <h4>
    {{today | date:'H:mm:ss'}}
  </h4>
</div>
<div class="sidebar-divider" *ngIf="side_extended == true">
  <mat-divider></mat-divider>
</div>
<ul class="sidebar-menu" *ngIf="side_extended == true">
  <li [routerLink]="['/home']" class="basic-entry" [ngClass]="{'active' : Router.url === '/home'}" (click)="emit_toggle_if_mobile()">
    <a>
      <i class="fas fa-home"></i> Home
    </a>
  </li>
  <li [routerLink]="['/users']" class="basic-entry visible-xs" (click)="emit_toggle_if_mobile()">
    <a>
      <i class="fas fa-users"></i> Gestione Utenti
    </a>
  </li>
  <sidebar-menu-item *ngFor="let item of items" [item]="item" (toggle)="emit_toggle($event)"></sidebar-menu-item>
  <li (click)="UserService.logout()" class="visible-xs basic-entry">
    <a>
      <i class="fas fa-sign-out-alt logout-icon"></i> Logout
    </a>
  </li>
</ul>
<ul class="sidebar-menu hidden-xs" *ngIf="side_extended==false">
  <li class="home-mini" [ngClass]="{'active' : Router.url === '/home'}" [routerLink]="['/home']">
    <a title="Home">
      <i class="fa fa-home"></i>
    </a>
    <br />
    <small>Home</small>
  </li>
  <mini-sidebar-item *ngFor="let item of items" [item]="item"></mini-sidebar-item>
</ul>
