<div class="page">
  <div class="home-title text-center">
    <h1>Benvenuto, {{UserService.get_name()}}</h1>
  </div>
  <div class="">
    <div class="col-md-4 section-card section-card-1">

      <!--Angular Material Card-->
      <mat-card>
        <div class="text-center">
          <h2>Sezione Aule e Risorse</h2>
          <h4>Sviluppata da Valentina Costanza</h4>
        </div>
        <img mat-card-image src="/assets/images/aule.jpg" alt="Aula vuota, vista dai banchi">
        <mat-card-content>
          <p class="text-center">
            In questa sezione è possibile cercare e filtrare le aule in base alla loro capienza e agli accessori disponibili.
            Le aule possono essere prenotate (se libere) per un certo periodo di tempo.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>AULE</button>
          <button mat-button>PRENOTAZIONI</button>
        </mat-card-actions>
      </mat-card>
      <!-- END Angular Material Card-->

    </div>
    <div class="col-md-4 section-card section-card-2">

      <!--Angular Material Card-->
      <mat-card>
        <div class="text-center">
          <h2>Sezione Ferie e Assenze</h2>
          <h4>Sviluppata da Orazio Scavo</h4>
        </div>
        <img mat-card-image src="/assets/images/ferie.jpg" alt="Due Lettini da spiaggia in riva al mare">
        <mat-card-content>
          <p class="text-center">
            In questa sezione tutti i dipendenti possono gestire i propri permessi per ferie o altre assenze.
            Le richieste dovranno essere approvate dai relativi responsabili prima di essere confermate.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>CALENDARIO</button>
          <button mat-button>PERMESSI</button>
        </mat-card-actions>
      </mat-card>
      <!-- END Angular Material Card-->

    </div>
    <div class="col-md-4 section-card section-card-3">

      <!--Angular Material Card-->
      <mat-card>
        <div class="text-center">
          <h2>Sezione Test e Sondaggi</h2>
          <h4>Sviluppata da Federico Grasso</h4>
        </div>
        <img mat-card-image src="/assets/images/sondaggi.jpg" alt="Scrivania con sopra un pc, delle penne ed un block notes raffigurante dei grafici">
        <mat-card-content>
          <p class="text-center">
            In questa sezione è possibile creare nuovi sondaggi e rispondere ai sondaggi creati da altri impiegati.
            Il gestore di ogni sondaggio potrà avere visione delle statistiche ad esso relative.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>CALENDARIO</button>
          <button mat-button>PERMESSI</button>
        </mat-card-actions>
      </mat-card>
      <!-- END Angular Material Card-->

    </div>
  </div>
</div>
