.security-margin {
  margin-top: 20px;
}

.security-margin-radio {
  margin-right: 5px;
}

.buttons-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.page{
  padding:60px;
  padding-top: 30px;
}
