.security-margin {
  margin-top: 20px;
}

.security-margin-radio {
  margin-right: 5px;
}

.buttons-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.page {
  padding: 60px;
  padding-top: 30px;
}

.security-margin-bottom {
  margin-bottom: 20px;
}

.shadow {
  box-shadow: 0 18px 6px -12px rgba(0, 0, 0, 0.35),
    0 12px 12px 0 rgba(0, 0, 0, 0.25), 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}
