.dialog-veil{
  position:fixed;
  z-index:1001;
  background: black;
  opacity:0.7;
  width:100vh;
  height:100%;
  min-height:100vh;
  width:100%;
  min-width:100vh;
}

.login-box{
  box-shadow:0 36px 12px -24px rgba(0,0,0,.35), 0 24px 24px 0 rgba(0,0,0,.25), 0 8px 40px 0 rgba(0,0,0,.2);
  border-radius: 10px;
  position:fixed;
  z-index:1002;
  background: white;
  width:50%;
  margin:auto;
  left:0;
  right:0;
  top:15%;
  padding:20px;
}

.login-form{
  width:100%;
}

.login-form mat-form-field{
  width: 80%
}

button{
  margin-bottom:30px;
}

@media (max-width: 766px){
  button{
    background:#aaaaaa;
  }
  .login-box{
    width:90%;
  }
}
